<ion-content>
  <ion-row align-items-start style="position: fixed">
    <ion-col size="12">
      <ion-buttons>
        <ion-back-button defaultHref="/home" style="color: white"></ion-back-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <div class="height-100">
    <div class="height-50" id="PJ-select" (click)="goToPj()">
        <span >Characters</span>
    </div>
    <div class="height-50" id="init-select" (click)="goToInit()">
        <span >Initiative</span>
    </div>
  </div>
</ion-content>