#PJ-select{
    background-size: cover;
    background-image: url('../../../assets/imgs/squadImg.jpg') ;
    background-position: center; 
    h1{
        color: white;
    }
}

#init-select{
    background-size: cover;
    background-image: url('../../../assets/imgs/initImg.jpg') ;
    background-position: center; 
    h1{
        color: white;
    }
}

