<ion-content>
  <ion-row align-items-start style="position: fixed">
    <ion-col size="12">
      <ion-buttons>
        <ion-back-button defaultHref="/home" style="color: white"></ion-back-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-grid class="height-100">
    <div class="height-50" id="PJ-select" (click)="goToPj()">
        <h1 style="text-align: center">Characters</h1>
    </div>
    <div class="height-50" id="init-select" (click)="goToInit()">
        <h1 style="text-align: center">Initiative</h1>
    </div>
  </ion-grid>
</ion-content>