<ion-content>
  <ion-row align-items-start>
    <ion-col size="12">
      <ion-buttons>
        <ion-back-button defaultHref="/story"></ion-back-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <div class="" *ngFor="let pj of pjsList">
    <ion-item>
      <ion-label>
        {{pj.character.name}}
      </ion-label>
      <ion-label>
        Lvl: {{pj.character.level}}
      </ion-label>
      <ion-label>
        HP: {{pj.character.maxHp}}
      </ion-label>
      <ion-icon style="color: green" name="create" slot="end" (click)="openEdit(pj,edit)" ></ion-icon>
      <ion-icon style="color: red" name="trash" slot="end" (click)="delete(pj.id)"></ion-icon>
    </ion-item>
  </div>

<button (click)="openEdit(false)">crear</button>
</ion-content>