
<div class="row p-2">
  <div class="col-6">
    <h2>Iniciativa</h2>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary float-right" (click)="openGeneratedMonsterModal()">
      Crear monstruos
    </button>
  </div>
</div>
<div class="container">
  <div class="row " *ngFor="let pj of pjList| orderBy: order : true : false;let i = index; let odd=odd; let even=even;"
    [ngClass]="{ odd: odd, even: even }">
    <div class="col-4 p-2">
      <span><b>{{pj.name}}</b></span>
    </div>
    <div class="col-4 p-2">
      <b>HP: </b><span
        [ngClass]="{'hp-live' : pj.hp > 0, 'hp-death' : pj.hp < 0, 'hp-null' : pj.hp === 0}">{{pj.hp}}</span>
    </div>
    <div class="col-4 p-2">
      <b>Init: </b><span>{{pj.init}}</span>
    </div>
    <div class="w-100"></div>
    <div class="col-6 text-center">
      <div class="input-group ">
        <div class="input-group-prepend">
          <button class="btn btn-success" type="button" (click)="healEvent(pj, hit)">+</button>
          <input class="form-control" type="number" #hit [value]="hit" id="{{'hitId'+i}}">
          <button class="btn btn-danger" type="button" (click)="damageEvent(pj, hit)">-</button>
        </div>
      </div>
    </div>

    <div class="col-4 text-center">
      <div class="input-group mb-3" *ngIf="!pj.monster">
        <div class="input-group-prepend">
          <button class="btn btn-secondary" type="button" (click)="addInit(pj, init)">+</button>
        </div>
        <input class="form-control" type="number" #init [value]="init" id="{{'initId'+i}}">
      </div>
    </div>
    <div class="col-2 text-center">
        <ion-icon class="text-danger h2"*ngIf="pj.monster"(click)="deleteElement(pj.name)" name="trash"></ion-icon>
    </div>
  </div>
</div>